In [1]:
#Creating a tuple
#Tuples are immutable
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
#confirm the type
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
len(t)

3

In [6]:
#Tuple can have string along with a number
t = ('one',1)

In [7]:
t[0]

'one'

In [8]:
t = ('a','a','b')

In [9]:
t.count('a')

2

In [11]:
t.index('b')

2

In [12]:
mylist

[1, 2, 3]

In [13]:
mylist[0] = 'new'

In [14]:
mylist

['new', 2, 3]

In [15]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment