In [4]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [5]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [8]:
index_count = 0
word = 'abcde'
for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [9]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [11]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [12]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [13]:
'mykey' in {'mykey':123}

True

In [14]:
d = 'mykey' in {'mykey':123}

In [22]:
123 in d.value()

AttributeError: 'bool' object has no attribute 'value'

In [23]:
mylist = [10,20,30,50,100]

min(mylist)

10

In [24]:
max(mylist)

100

In [25]:
from random import shuffle

In [26]:
mylist = [1,2,3,4,5,6,7,8,9]

In [29]:
shuffle(mylist)

In [30]:
mylist

[3, 2, 4, 8, 7, 1, 5, 9, 6]

In [31]:
from random import randint

In [32]:
randint(0,100)

83

In [37]:
result = int(input('name'))

name10

In [38]:
result

10

In [36]:
int(result)

ValueError: invalid literal for int() with base 10: 'Shikhar'