### How to create a calculated IF THEN ELSE column in a dataframe?

When working with data, we often have to create new columns based on certain conditions relating to other column.

Importing the required libraries

In [1]:
import pandas as pd
import numpy as np

Importing the Sales Data from github

In [42]:
df = pd.read_csv("https://raw.githubusercontent.com/ishikhargoyal/PythonCode/main/Datasets/Sales_Data.csv",encoding= 'unicode_escape')

In [43]:
df.head(50)

     PRODUCTLINE Quarter Month  Year  QUANTITYORDERED     SALES
0    Motorcycles      Q1   Feb  2003               30   2871.00
1    Motorcycles      Q2   May  2003               34   2765.90
2    Motorcycles      Q3   Jul  2003               41   3884.34
3    Motorcycles      Q3   Aug  2003               45   3746.70
4    Motorcycles      Q4   Oct  2003               49   5205.27
5    Motorcycles      Q4   Oct  2003               36   3479.76
6    Motorcycles      Q4   Nov  2003               29   2497.77
7    Motorcycles      Q4   Nov  2003               48   5512.32
8    Motorcycles      Q4   Dec  2003               22   2168.54
9    Motorcycles      Q1   Jan  2004               41   4708.44
10   Motorcycles      Q1   Feb  2004               37   3965.66
11   Motorcycles      Q2   Apr  2004               23   2333.12
12   Motorcycles      Q2   May  2004               28   3188.64
13   Motorcycles      Q2   Jun  2004               34   3676.76
14   Motorcycles      Q3   Jul  2004               45   4177.35
15   Motorcycles      Q3   Aug  2004               36   4099.68
16   Motorcycles      Q3   Sep  2004               23   2597.39
17   Motorcycles      Q4   Oct  2004               41   4394.38
18   Motorcycles      Q4   Nov  2004               46   4358.04
19   Motorcycles      Q4   Nov  2004               42   4396.14
20   Motorcycles      Q4   Nov  2004               41   7737.93
21   Motorcycles      Q4   Dec  2004               20   1451.00
22   Motorcycles      Q1   Feb  2005               21    733.11
23   Motorcycles      Q1   Mar  2005               42   3207.12
24   Motorcycles      Q2   Apr  2005               24   2434.56
25   Motorcycles      Q2   May  2005               66   7516.08
26  Classic Cars      Q1   Jan  2003               26   5404.62
27  Classic Cars      Q1   Mar  2003               29   7209.11
28  Classic Cars      Q2   May  2003               38   7329.06
29  Classic Cars      Q3   Jul  2003               37   7374.10
30  Classic Cars      Q3   Sep  2003               45  10993.50
31  Classic Cars      Q4   Oct  2003               21   4860.24
32  Classic Cars      Q4   Nov  2003               34   8014.82
33  Classic Cars      Q4   Nov  2003               23   5372.57
34  Classic Cars      Q4   Nov  2003               42   7290.36
35  Classic Cars      Q4   Dec  2003               47   9064.89
36  Classic Cars      Q1   Jan  2004               35   6075.30
37  Classic Cars      Q1   Mar  2004               29   6463.23
38  Classic Cars      Q2   May  2004               34   6120.34
39  Classic Cars      Q2   Jun  2004               32   7680.64
40  Classic Cars      Q3   Jul  2004               21   4905.39
41  Classic Cars      Q3   Aug  2004               34   8014.82
42  Classic Cars      Q3   Sep  2004               37   7136.19
43  Classic Cars      Q4   Oct  2004               47  10172.70
44  Classic Cars      Q4   Oct  2004               48  11623.70
45  Classic Cars      Q4   Nov  2004               40   6000.40
46  Classic Cars      Q4   Nov  2004               26   3003.00
47  Classic Cars      Q4   Nov  2004               30   3944.70
48  Classic Cars      Q4   Dec  2004               32   5691.84
49  Classic Cars      Q1   Jan  2005               41   4514.92

#### IF SALES > 5000 THEN DEAL SIZE "BIG" ELSE "SMALL"

Using Numpy "Where" method.

Syntax:

*numpy.where (conditional expression,
              Value if condition is true,
              Value if condition is value)*

In [46]:
df["DEAL SIZE"] = np.where(df["SALES"]>5000,"BIG","SMALL")

In [47]:
df.head(50)

     PRODUCTLINE Quarter Month  Year  QUANTITYORDERED     SALES DEAL SIZE
0    Motorcycles      Q1   Feb  2003               30   2871.00     SMALL
1    Motorcycles      Q2   May  2003               34   2765.90     SMALL
2    Motorcycles      Q3   Jul  2003               41   3884.34     SMALL
3    Motorcycles      Q3   Aug  2003               45   3746.70     SMALL
4    Motorcycles      Q4   Oct  2003               49   5205.27       BIG
5    Motorcycles      Q4   Oct  2003               36   3479.76     SMALL
6    Motorcycles      Q4   Nov  2003               29   2497.77     SMALL
7    Motorcycles      Q4   Nov  2003               48   5512.32       BIG
8    Motorcycles      Q4   Dec  2003               22   2168.54     SMALL
9    Motorcycles      Q1   Jan  2004               41   4708.44     SMALL
10   Motorcycles      Q1   Feb  2004               37   3965.66     SMALL
11   Motorcycles      Q2   Apr  2004               23   2333.12     SMALL
12   Motorcycles      Q2   May  2004               28   3188.64     SMALL
13   Motorcycles      Q2   Jun  2004               34   3676.76     SMALL
14   Motorcycles      Q3   Jul  2004               45   4177.35     SMALL
15   Motorcycles      Q3   Aug  2004               36   4099.68     SMALL
16   Motorcycles      Q3   Sep  2004               23   2597.39     SMALL
17   Motorcycles      Q4   Oct  2004               41   4394.38     SMALL
18   Motorcycles      Q4   Nov  2004               46   4358.04     SMALL
19   Motorcycles      Q4   Nov  2004               42   4396.14     SMALL
20   Motorcycles      Q4   Nov  2004               41   7737.93       BIG
21   Motorcycles      Q4   Dec  2004               20   1451.00     SMALL
22   Motorcycles      Q1   Feb  2005               21    733.11     SMALL
23   Motorcycles      Q1   Mar  2005               42   3207.12     SMALL
24   Motorcycles      Q2   Apr  2005               24   2434.56     SMALL
25   Motorcycles      Q2   May  2005               66   7516.08       BIG
26  Classic Cars      Q1   Jan  2003               26   5404.62       BIG
27  Classic Cars      Q1   Mar  2003               29   7209.11       BIG
28  Classic Cars      Q2   May  2003               38   7329.06       BIG
29  Classic Cars      Q3   Jul  2003               37   7374.10       BIG
30  Classic Cars      Q3   Sep  2003               45  10993.50       BIG
31  Classic Cars      Q4   Oct  2003               21   4860.24     SMALL
32  Classic Cars      Q4   Nov  2003               34   8014.82       BIG
33  Classic Cars      Q4   Nov  2003               23   5372.57       BIG
34  Classic Cars      Q4   Nov  2003               42   7290.36       BIG
35  Classic Cars      Q4   Dec  2003               47   9064.89       BIG
36  Classic Cars      Q1   Jan  2004               35   6075.30       BIG
37  Classic Cars      Q1   Mar  2004               29   6463.23       BIG
38  Classic Cars      Q2   May  2004               34   6120.34       BIG
39  Classic Cars      Q2   Jun  2004               32   7680.64       BIG
40  Classic Cars      Q3   Jul  2004               21   4905.39     SMALL
41  Classic Cars      Q3   Aug  2004               34   8014.82       BIG
42  Classic Cars      Q3   Sep  2004               37   7136.19       BIG
43  Classic Cars      Q4   Oct  2004               47  10172.70       BIG
44  Classic Cars      Q4   Oct  2004               48  11623.70       BIG
45  Classic Cars      Q4   Nov  2004               40   6000.40       BIG
46  Classic Cars      Q4   Nov  2004               26   3003.00     SMALL
47  Classic Cars      Q4   Nov  2004               30   3944.70     SMALL
48  Classic Cars      Q4   Dec  2004               32   5691.84       BIG
49  Classic Cars      Q1   Jan  2005               41   4514.92     SMALL

# MULTIPLE CONDITIONS

When we have more than One condition for creating the calculated column.

In [55]:
df = pd.read_csv("https://raw.githubusercontent.com/ishikhargoyal/PythonCode/main/Datasets/Sales_Data.csv",encoding= 'unicode_escape')

In [56]:
df.head()

   PRODUCTLINE Quarter Month  Year  QUANTITYORDERED    SALES
0  Motorcycles      Q1   Feb  2003               30  2871.00
1  Motorcycles      Q2   May  2003               34  2765.90
2  Motorcycles      Q3   Jul  2003               41  3884.34
3  Motorcycles      Q3   Aug  2003               45  3746.70
4  Motorcycles      Q4   Oct  2003               49  5205.27

### Numpy list method

conditions = [condition1,condition2,condition3..]

values = [value1,value2,value3]

new_column = numpy.select(conditions,values)

In [57]:
conditions = [(df["SALES"]>0)&(df["SALES"]<=3000),
             (df["SALES"]>3000)&(df["SALES"]<=8000),
             (df["SALES"]>8000)]

In [58]:
values = ["SMALL","MEDIUM","LARGE"]

In [59]:
df["DEAL SIZE"] = np.select(conditions,values)

In [60]:
df.head(50)

     PRODUCTLINE Quarter Month  Year  QUANTITYORDERED     SALES DEAL SIZE
0    Motorcycles      Q1   Feb  2003               30   2871.00     SMALL
1    Motorcycles      Q2   May  2003               34   2765.90     SMALL
2    Motorcycles      Q3   Jul  2003               41   3884.34    MEDIUM
3    Motorcycles      Q3   Aug  2003               45   3746.70    MEDIUM
4    Motorcycles      Q4   Oct  2003               49   5205.27    MEDIUM
5    Motorcycles      Q4   Oct  2003               36   3479.76    MEDIUM
6    Motorcycles      Q4   Nov  2003               29   2497.77     SMALL
7    Motorcycles      Q4   Nov  2003               48   5512.32    MEDIUM
8    Motorcycles      Q4   Dec  2003               22   2168.54     SMALL
9    Motorcycles      Q1   Jan  2004               41   4708.44    MEDIUM
10   Motorcycles      Q1   Feb  2004               37   3965.66    MEDIUM
11   Motorcycles      Q2   Apr  2004               23   2333.12     SMALL
12   Motorcycles      Q2   May  2004               28   3188.64    MEDIUM
13   Motorcycles      Q2   Jun  2004               34   3676.76    MEDIUM
14   Motorcycles      Q3   Jul  2004               45   4177.35    MEDIUM
15   Motorcycles      Q3   Aug  2004               36   4099.68    MEDIUM
16   Motorcycles      Q3   Sep  2004               23   2597.39     SMALL
17   Motorcycles      Q4   Oct  2004               41   4394.38    MEDIUM
18   Motorcycles      Q4   Nov  2004               46   4358.04    MEDIUM
19   Motorcycles      Q4   Nov  2004               42   4396.14    MEDIUM
20   Motorcycles      Q4   Nov  2004               41   7737.93    MEDIUM
21   Motorcycles      Q4   Dec  2004               20   1451.00     SMALL
22   Motorcycles      Q1   Feb  2005               21    733.11     SMALL
23   Motorcycles      Q1   Mar  2005               42   3207.12    MEDIUM
24   Motorcycles      Q2   Apr  2005               24   2434.56     SMALL
25   Motorcycles      Q2   May  2005               66   7516.08    MEDIUM
26  Classic Cars      Q1   Jan  2003               26   5404.62    MEDIUM
27  Classic Cars      Q1   Mar  2003               29   7209.11    MEDIUM
28  Classic Cars      Q2   May  2003               38   7329.06    MEDIUM
29  Classic Cars      Q3   Jul  2003               37   7374.10    MEDIUM
30  Classic Cars      Q3   Sep  2003               45  10993.50     LARGE
31  Classic Cars      Q4   Oct  2003               21   4860.24    MEDIUM
32  Classic Cars      Q4   Nov  2003               34   8014.82     LARGE
33  Classic Cars      Q4   Nov  2003               23   5372.57    MEDIUM
34  Classic Cars      Q4   Nov  2003               42   7290.36    MEDIUM
35  Classic Cars      Q4   Dec  2003               47   9064.89     LARGE
36  Classic Cars      Q1   Jan  2004               35   6075.30    MEDIUM
37  Classic Cars      Q1   Mar  2004               29   6463.23    MEDIUM
38  Classic Cars      Q2   May  2004               34   6120.34    MEDIUM
39  Classic Cars      Q2   Jun  2004               32   7680.64    MEDIUM
40  Classic Cars      Q3   Jul  2004               21   4905.39    MEDIUM
41  Classic Cars      Q3   Aug  2004               34   8014.82     LARGE
42  Classic Cars      Q3   Sep  2004               37   7136.19    MEDIUM
43  Classic Cars      Q4   Oct  2004               47  10172.70     LARGE
44  Classic Cars      Q4   Oct  2004               48  11623.70     LARGE
45  Classic Cars      Q4   Nov  2004               40   6000.40    MEDIUM
46  Classic Cars      Q4   Nov  2004               26   3003.00    MEDIUM
47  Classic Cars      Q4   Nov  2004               30   3944.70    MEDIUM
48  Classic Cars      Q4   Dec  2004               32   5691.84    MEDIUM
49  Classic Cars      Q1   Jan  2005               41   4514.92    MEDIUM

### IF THEN ELSE in FOR Loop for Multiple Conditions

In [61]:
df = pd.read_csv("https://raw.githubusercontent.com/ishikhargoyal/PythonCode/main/Datasets/Sales_Data.csv",encoding= 'unicode_escape')

In [62]:
df.head()

   PRODUCTLINE Quarter Month  Year  QUANTITYORDERED    SALES
0  Motorcycles      Q1   Feb  2003               30  2871.00
1  Motorcycles      Q2   May  2003               34  2765.90
2  Motorcycles      Q3   Jul  2003               41  3884.34
3  Motorcycles      Q3   Aug  2003               45  3746.70
4  Motorcycles      Q4   Oct  2003               49  5205.27

In [69]:
deal = []
for value in df["SALES"]:
    if ((value>0)&(value<=3000)):
        deal.append("SMALL")
    elif ((value>3000)&(value<=8000)):
        deal.append("MEDIUM")
    else:
        deal.append("LARGE")

In [70]:
deal

['SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'LARGE',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'SMALL',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'LARGE',
 'LARGE',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'LARGE',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'LARGE',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'LARGE',
 'MEDIUM',
 'LARGE',
 'LARGE',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'LARGE',
 'MEDIUM',
 'LARGE',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'SMALL',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'LARGE',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'LARGE',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'LARGE',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'LARGE',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'SMALL',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'MEDIUM',
 'SMALL',
 'MEDIUM',
 'MEDIUM',
 ...]

In [71]:
df["DEAL SIZE"] = deal

In [72]:
df.head(50)

     PRODUCTLINE Quarter Month  Year  QUANTITYORDERED     SALES DEAL SIZE
0    Motorcycles      Q1   Feb  2003               30   2871.00     SMALL
1    Motorcycles      Q2   May  2003               34   2765.90     SMALL
2    Motorcycles      Q3   Jul  2003               41   3884.34    MEDIUM
3    Motorcycles      Q3   Aug  2003               45   3746.70    MEDIUM
4    Motorcycles      Q4   Oct  2003               49   5205.27    MEDIUM
5    Motorcycles      Q4   Oct  2003               36   3479.76    MEDIUM
6    Motorcycles      Q4   Nov  2003               29   2497.77     SMALL
7    Motorcycles      Q4   Nov  2003               48   5512.32    MEDIUM
8    Motorcycles      Q4   Dec  2003               22   2168.54     SMALL
9    Motorcycles      Q1   Jan  2004               41   4708.44    MEDIUM
10   Motorcycles      Q1   Feb  2004               37   3965.66    MEDIUM
11   Motorcycles      Q2   Apr  2004               23   2333.12     SMALL
12   Motorcycles      Q2   May  2004               28   3188.64    MEDIUM
13   Motorcycles      Q2   Jun  2004               34   3676.76    MEDIUM
14   Motorcycles      Q3   Jul  2004               45   4177.35    MEDIUM
15   Motorcycles      Q3   Aug  2004               36   4099.68    MEDIUM
16   Motorcycles      Q3   Sep  2004               23   2597.39     SMALL
17   Motorcycles      Q4   Oct  2004               41   4394.38    MEDIUM
18   Motorcycles      Q4   Nov  2004               46   4358.04    MEDIUM
19   Motorcycles      Q4   Nov  2004               42   4396.14    MEDIUM
20   Motorcycles      Q4   Nov  2004               41   7737.93    MEDIUM
21   Motorcycles      Q4   Dec  2004               20   1451.00     SMALL
22   Motorcycles      Q1   Feb  2005               21    733.11     SMALL
23   Motorcycles      Q1   Mar  2005               42   3207.12    MEDIUM
24   Motorcycles      Q2   Apr  2005               24   2434.56     SMALL
25   Motorcycles      Q2   May  2005               66   7516.08    MEDIUM
26  Classic Cars      Q1   Jan  2003               26   5404.62    MEDIUM
27  Classic Cars      Q1   Mar  2003               29   7209.11    MEDIUM
28  Classic Cars      Q2   May  2003               38   7329.06    MEDIUM
29  Classic Cars      Q3   Jul  2003               37   7374.10    MEDIUM
30  Classic Cars      Q3   Sep  2003               45  10993.50     LARGE
31  Classic Cars      Q4   Oct  2003               21   4860.24    MEDIUM
32  Classic Cars      Q4   Nov  2003               34   8014.82     LARGE
33  Classic Cars      Q4   Nov  2003               23   5372.57    MEDIUM
34  Classic Cars      Q4   Nov  2003               42   7290.36    MEDIUM
35  Classic Cars      Q4   Dec  2003               47   9064.89     LARGE
36  Classic Cars      Q1   Jan  2004               35   6075.30    MEDIUM
37  Classic Cars      Q1   Mar  2004               29   6463.23    MEDIUM
38  Classic Cars      Q2   May  2004               34   6120.34    MEDIUM
39  Classic Cars      Q2   Jun  2004               32   7680.64    MEDIUM
40  Classic Cars      Q3   Jul  2004               21   4905.39    MEDIUM
41  Classic Cars      Q3   Aug  2004               34   8014.82     LARGE
42  Classic Cars      Q3   Sep  2004               37   7136.19    MEDIUM
43  Classic Cars      Q4   Oct  2004               47  10172.70     LARGE
44  Classic Cars      Q4   Oct  2004               48  11623.70     LARGE
45  Classic Cars      Q4   Nov  2004               40   6000.40    MEDIUM
46  Classic Cars      Q4   Nov  2004               26   3003.00    MEDIUM
47  Classic Cars      Q4   Nov  2004               30   3944.70    MEDIUM
48  Classic Cars      Q4   Dec  2004               32   5691.84    MEDIUM
49  Classic Cars      Q1   Jan  2005               41   4514.92    MEDIUM

# THANK YOU FOR WATCHING